<div class= "columns">
  <% @pokemons.each do |pokemon| %>
    <div class="column col-4 col-mx-auto pokedex-entry">
      <div class="panel custom-panel">
        <div class="panel-header text-center">
          <figure class="avatar avatar-xl custom-avatar">
            <%= image_tag "#{pokemon.sprites.first.front_default}" %>
          </figure>
          <div class="panel-title h5 mt-10"><a href="#"><%= link_to pokemon.name, pokemon %></a></div>
        </div>
          <div class="panel-body">
            <div class="tile tile-centered text-center">
              <div class="tile-content">
                <div class="tile-title text-bold">Pokedex No <%= pokemon.number %></div>
              </div>
            </div>
            <div class="tile tile-centered text-center">
              <div class="tile-content">
                <div class="tile-title text-bold">Height: </div>
                <div class="tile-subtitle"><%= pokemon.height %> m</div>
              </div>
            </div>
            <div class="tile tile-centered text-center">
              <div class="tile-content">
                <div class="tile-title text-bold">Weight:</div>
                <div class="tile-subtitle"><%= pokemon.weight.to_i %> kg</div>
              </div>
            </div>

          </div>
        </div>
      </div>
  <% end %>
</div>